body {
  background-color: #000000;
  /* Dark grey background for now color but can put a picture */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  overflow-y: hidden;
  /* Center the content horizontally */
}

.container {
  width: 750px;
  /* Set your desired width */
  height: 630px;
  /* Set your desired height */
  background-color: rgba(255, 255, 255, 0.9);
  /* Background color with some transparency */
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Shadow effect */
  padding: 20px;
  /* Add padding for spacing */
  margin: 0 auto;
  /* Center the container horizontally */
  display: flex;
  /* Add display flex */
  flex-direction: column;
  /* Arrange items in a column */
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
}

/* Style the form */
#regForm {
  width: 650px;
  /* Set your desired width */
  height: 600px;
  /* Set your desired height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  text-align: center;
  color: #1d1d1d;
  /* Change color as desired */
  font-family: Arial, sans-serif;
  /* Change font family as desired */
  font-size: 24px;
  /* Change font size as desired */
  margin-top: 20px;
  /* Adjust top margin as desired */
}

h2 {
  color: #050505;
  margin-bottom: 10px;
  font-size: 18px;
}

h3 {
  color: #333333;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

img {
  width: 180px;
  /* Set the desired width */
  height: auto;
  /* Maintain the aspect ratio */
  display: block;
  /* Ensure it behaves as a block element */
  margin: auto;
  /* Center the image horizontally */
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Button Style */
button {
  display: inline-block;
  background-color: #2e2d2d;
  border: none;
  /* Transparent border initially */
  font-weight: bold;
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:active {
  transform: translateY(2px);
  /* Move the button down slightly when pressed */
}

/* Adjust button container */
#nextprev_btns {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Align buttons */
#prevBtn,
#back_to_activities {
  margin-right: 0;
  margin-left: 0;
  font-size: 12px;
  background-color: #583c3c;
  /* Ensure left margin is reset */
}

#nextBtn,
#check_activities {
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  background-color: #25492d;
  /* Ensure right margin is reset */
}

/* Style the input fields */
input {
  padding: 10px;
  width: calc(100% - 22px);
  /* Adjusted width to consider padding */
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin: 0 auto;
  /* Center the input horizontally */
  display: block;
  /* Ensuring they take full width */
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

#bottom_circles {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Hide additional info unless escape room */
#additional_info {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}

/* Hide submit button by default. */
#submitBtn {
  display: none;
}

/* Grid of buttons for regions and activities */
.btn_grid {
  display: grid;
  margin-top: 20px;
  /* Adjust the value (20px is just an example) */
  margin-bottom: 20px;
  /* Adjust the value (20px is just an example) */
}

#regions_nz {
  grid-template-columns: repeat(4, 1fr);
}

#activity_btns,
#nz_yes_or_no {
  grid-template-columns: repeat(2, 1fr);
}

#escape_room_btns {
  grid-template-columns: repeat(1, 1fr);
}

#activity_btns button,
#escape_room_btns button {
  border: 4px solid transparent;
}

#activity_btns button.selected,
#escape_room_btns button.selected {
  border: 4px solid rgb(43, 214, 0);
}

#options_for_how_did_you_hear_about_us {
  grid-template-columns: repeat(2, 1fr);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Adjust the z-index value to make sure it's higher than the step indicators */
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-height: 70vh;
  /* Adjust this value as needed */
  overflow-y: auto;
  margin: 0 15px;
  /* Add some right and left space */
}

li {
  text-align: left;
}


.close {
  color: #8a3737;
  font-size: 45px;
  cursor: pointer;
  float: right;
}

#tac-title {
  clear: right;
}

#escape_room_options {
  display: none;
}

#thank_you_message {
  display: none;
}