body {
  background-color: #917171;
  /* Dark grey background for now color but can put a picture */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  /* Center the content horizontally */
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  /* Background color with some transparency */
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Shadow effect */
  padding: 20px;
  /* Add padding for spacing */
  max-width: 600px;
  /* Set a maximum width for the container */
  margin: 0 auto;
  /* Center the container horizontally */
}

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 25px auto;
  padding: 40px;
  width: 70%;
  min-width: 500px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
  /* Change color as desired */
  font-family: Arial, sans-serif;
  /* Change font family as desired */
  font-size: 24px;
  /* Change font size as desired */
  margin-top: 20px;
  /* Adjust top margin as desired */
}

h2 {
  color: #007bff;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain the original aspect ratio */
}

/* Button Style */
button {
  display: inline-block;
  background-color: #4caf50;
  /* Green */
  border: none;
  /* Transparent border initially */
  font-size: 11px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Adjust button container */
#nextprev_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Align buttons */
#prevBtn,
#back_to_activities {
  margin-right: 0;
  margin-left: 0;
  font-size: 12px;
  /* Ensure left margin is reset */
}

#nextBtn,
#check_activities {
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  /* Ensure right margin is reset */
}

/* Style the input fields */
input {
  padding: 10px;
  width: calc(100% - 22px);
  /* Adjusted width to consider padding */
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin: 0 auto;
  /* Center the input horizontally */
  display: block;
  /* Ensuring they take full width */
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Hide additional info unless escape room */
#additional_info {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}

/* Hide submit button by default. */
#submitBtn {
  display: none;
}

/* Grid of buttons for regions and activities */
.btn_grid {
  display: grid;
}

#regions_nz {
  grid-template-columns: repeat(4, 1fr);
}

#activity_btns {
  grid-template-columns: repeat(2, 1fr);
}

#escape_room_btns {
  grid-template-columns: repeat(1, 1fr);
}

#activity_btns button,
#escape_room_btns button {
  border: 2px solid transparent;
}

#activity_btns button.selected,
#escape_room_btns button.selected {
  border: 2px solid blue;
}

#options_for_how_did_you_hear_about_us {
  grid-template-columns: repeat(2, 1fr);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Adjust the z-index value to make sure it's higher than the step indicators */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-height: 70vh; /* Adjust this value as needed */
  overflow-y: auto;
}

.close {
  color: #333;
  float: right;
  font-size: 44px;
  cursor: pointer;
}

#escape_room_options {
  display: none;
}
