body {
  background-color: #333;
  /* Dark grey background for now color but can put a picture */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  /* Background color with some transparency */
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Shadow effect */
  padding: 20px;
  /* Add padding for spacing */
  max-width: 600px;
  /* Set a maximum width for the container */
  margin: 0 auto;
  /* Center the container horizontally */
}

h1 {
  text-align: center;
  color: #333;
  /* Change color as desired */
  font-family: Arial, sans-serif;
  /* Change font family as desired */
  font-size: 24px;
  /* Change font size as desired */
  margin-top: 20px;
  /* Adjust top margin as desired */
}

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 500px;
  border-radius: 10px;
}

/* Button Style */
button {
  display: inline-block;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/* Hide submit button by default. */
#submitBtn {
  display: none;
}