:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: white;
    --text-secondary: black;
    --bg-primary: black;
    --bg-secondary: white;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100svw;
    overflow: hidden;
}

.mainContainer {
    width: 100svw;
    height: 100svh;
    position: relative;
}

#map {
    width: 100svw;
    height: 105svh;
    top: 0;
}

/* NAV BAR */
.navbar {
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100vw;
    background-color: var(--bg-secondary);
  }

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 1rem;
    display:flex; 
    flex-direction: row;  
    justify-content: center;
    align-items: center;
}

.nav-item{
    height:100%;
}

.nav-link{
    display: flex;
    justify-content: center;
    width: 5rem;
    color: var(--text-primary);
}

.link-text{
    display:none;
}
.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--text-primary);
}
/* END NAV BAR */

.popup {
    position: absolute;
    align-items: flex;
    display: flex;
    width: 100svw;
    height: 50svh;
    bottom: 0;
    border-radius: 20px;
    background-color: aliceblue;
    transform: translateY(100%);
    transition: transform 1.5s;
}

.popupContainer {
    align-items: flex;
    height: 100svh;
    width: 100svw;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.title {
    align-items: flex;
    padding-left: 1%;
}

.text {
    align-items: flex;
    justify-content: flex;
    height: 100svh;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    overflow-y: auto;
    background-color: rgb(245, 245, 245);
}

.dirButton {
    position: absolute;
    right: 1rem;
}

.closeButton {
    position: absolute;
    font-size: 2rem;
    right: 1rem;
}

.slidein {
    transform: translateY(0);
}