:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: white;
    --text-secondary: black;
    --bg-primary: black;
    --bg-secondary: white;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100svw;
    position: fixed;
    overflow: hidden;
}

/*MAP*/
#map {
    width: 100svw;
    height: 105svh;
    top: 0;
}

/*SLIDE UP*/
.slideUp {
    position: absolute;
    align-items: flex;
    display: flex;
    width: 100svw;
    height: 50svh;
    bottom: 0;
    border-radius: 20px;
    background-color: aliceblue;
    transform: translateY(100%);
    transition: transform 1.5s;
}

.slideUpContainer {
    align-items: flex;
    height: 100svh;
    width: 100svw;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.title {
    align-items: flex;
    padding-left: 2%;
}

.slider-content{
    display:flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    background-color: rgb(242, 243, 243);
    height:100%
}

.direction {
    border: none;
    position: absolute;
    right:2%;
}

.description{
    padding-top: 1%;
    width:100%;
}

.slideClose {
    position: absolute;
    font-size: 2rem;
    right: 1rem;
}

.slidein {
    transform: translateY(0);
}


/*Question mark pop up*/
.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 5px;
    transition: top 0.5s ease, left 0.5s ease, width 0.3s ease, height 0.3s ease;
}

.content {
    padding: 5%;
    overflow-y: auto;
}

.square.small {
    width: 50px;
    height: 50px;
    font-size: 24px;
}

.square.big {
    width: 75%;
    min-height: 10%;
    max-height: 60%;
    height: fit-content;
    font-size: 18px;
    transition: width 0.3s ease, height 0.3s ease;
}

.square.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease, left 0.5s ease;
}


.square.small .close-button {
    visibility: hidden;
}

.square.big .close-button {
    visibility: visible;
}


.close-button {
    position: absolute;
    top: 0.1rem;
    right: 1rem;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}